* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2f4680, #500ae4);
}

.card {
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;

    /* Animation */
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.search-bar {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

input::placeholder {
    color: #ffffff;
}

.search-bar:focus {
    border: 1px solid #500ae4;
    outline: none;
    box-shadow: 0 0 10px #500ae4;
}

.search-btn {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.search-btn:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
}

.location-box {
    align-items: center;
    padding: 20px;
    text-align: center;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.weather-icon:hover {
    transform: scale(1.05);
}

.temp {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.location {
    font-size: 36px;
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.humidity,
.wind {
    display: flex;
    align-items: center;
}

.humidity-icon,
.wind-icon {
    width: 70%;
    height: 70%;
    transition: transform 0.3s ease;
}

.humidity-icon:hover,
.wind-icon:hover {
    transform: scale(1.05);
}

.humidity-text,
.wind-text {
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}
